.Header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.title-header {
  color: rgb(18, 68, 9);
  font-size: 50px;
  margin-left: 10%;
  margin-bottom: 0;
}
.title-header2 {
  color: rgb(18, 68, 9);
  font-size: 30px;
  margin-left: 10%;
  width: 500px;
  margin-top: 0;
}

.button-settings {
  height: 30px;
  /* background-color: transparent; */
  width: 100px;
  background-color: darkkhaki;
  border: 0.1px solid black;
}
.button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: darkkhaki;
  width: 130px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px;
}
.button-settings:hover {
  background-color: rgba(218, 156, 64, 0.144);
  transition-delay: 0.1s;
}

.button:hover {
  background-color: rgba(218, 156, 64, 0.144);
  transition-delay: 0.1s;
}

.header-nav {
  display: flex;
  flex-direction: row-reverse;
}

a {
  text-decoration: none;
}
.buttons {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button-edit {
  background-color: darkkhaki;
  width: 120px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.button-edit:hover {
  background-color: rgba(218, 156, 64, 0.144);
  transition-delay: 0.1s;
}
